.toppside {
    min-height: 60vh;
    background-image: url("bilder/halland3.png");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topptekst {
    background-color: var(--farge1);
    padding: 35px;
    border-radius: 15px;
    color: var(--farge2);
}

.toppside h1 {
    font-size: 55px;
    margin: 0;
    text-transform: uppercase;
}

.toppside p {
    font-size: 22px;
}

.innhold2 {
    max-width: 1100px;
    margin: auto;
    padding: 60px 25px;
}

.infoside2 {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 70px;
    border-radius: 30px;
}

.infotekst2 {
    flex: 1;
}

.infotekst2 h2 {
    color: var(--farge2);
    border-bottom: 3px solid var(--farge4);
    display: inline-block;
    padding-bottom: 5px;
}

.infotekst2 p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--farge2);
}

.bildeboks2 {
    flex: 1;
}

.bildeboks2 img {
    width: 100%;
    border-radius: 15px;
}

.spillere {
    max-width: 1100px;
    margin: auto;
    padding: 0 25px 70px 25px;
}

.spillere h2 {
    color: var(--farge2);
    border-bottom: 3px solid var(--farge4);
    display: inline-block;
    padding-bottom: 5px;
}

.spiller-rad {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.spiller-kort {
    background-color: var(--farge1);
    padding: 20px;
    border-radius: 15px;
    width: 33%;
    box-shadow: 0 4px 10px var(--farge2);
}

.spiller-kort img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 12px;
}

.spiller-kort h3 {
    color: var(--farge2);
}

.spiller-kort p {
    font-size: 15px;
    line-height: 1.5;
}


.norge-kamper {
    max-width: 350px;
    margin: auto;
    padding: 0 25px 70px 25px;
    background-color: var(--farge1);
}

.norge-kamper h2 {
    color: var(--farge2);
    border-bottom: 3px solid var(--farge4);
    display: inline-block;
    padding-bottom: 5px;
}

.kampboks {
    margin-top: 25px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--farge1);
    box-shadow: 0 4px 10px var(--farge2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag {
    width: 100px;
    height: auto;
    border-radius: 20px;
}

.kampboks p {
    font-size: 18px;
    color: var(--farge2);
}